
.navBar {
    justify-content: space-between;
    height: 50px;
}

button {
    margin-right: 1rem;
}

.logo {
    height: 40px;
    vertical-align: middle;
}

.pointerClass {
    cursor: pointer;
}

.mat-toolbar {
    background: #424242 !important;
}