<mat-toolbar class='navBar'>
    <div>
        <img class="logo pointerClass" routerLink = '/home' src="../assets/USLandGrid3.png">
    </div>
    <div>
        <button mat-button  routerLink='/admin' class="mx-3" *ngIf="loginService.isAdmin()">Admin Board</button>
        <button mat-button  *ngIf='!loginService.isloggedin()' routerLink='/user-auth'>
            <span>
                Login
            </span>
        </button>
        <button  mat-button *ngIf='loginService.isloggedin()' (click)='logout()'>
            <span>
                Logout
            </span>
        </button>
        <!-- <button mat-button (click)='openLegends()'>
            <mat-icon>
                layers
            </mat-icon>
        </button> -->
    </div>
</mat-toolbar>