.wellsAccordion {
    z-index: 1000;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

.wellsRecordTable{
    width: 100%;
}

.customAccordionHeader {
    width: 130px;
    height: 25px;
    font-size: 10px;
    padding-bottom: 15px;
    left: 10;
    margin: auto;
}

.customAccordionPanel {
    width: 170px;
    height: 50px;
    margin: auto;
}

.customExpandedAccordionHeader {
    height: 25px !important;
}

.mat-panel-title {
    margin-top: 20px !important;
}

.pointerClass {
    cursor: pointer;
}

a:visited 
{
    text-decoration: none;
}