<div class='wellsAccordion'>
    <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
        [expanded]='true' [disabled]='true' [ngClass]="{'customAccordionPanel': !panelOpenState}">
            <div>
                  <div class='options'>
                    <div class='actionButtons'>
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu yPosition="above" #menu="matMenu">
                        <button mat-menu-item *ngFor="let columnToDisplay of availableWellRecordColumns">
                          <mat-checkbox 
                          (click) = "$event.stopPropagation()"
                          (change)="modifyDisplayedColumns(columnToDisplay)"
                          [checked]="selectedColumn(columnToDisplay)">
                            {{ columnToDisplay | uppercase }}
                          </mat-checkbox>
                        </button>
                      </mat-menu>
                    </div>
                    <div class='actionButtons' (click)="filterAdvanced()">
                      <button mat-raised-button>Options</button>
                    </div>
                    <div class='actionButtons'>
                        <button mat-raised-button [ngClass]="{'active': filterByMapExtentFlag}"
                        (click)="filterEmit()">Filter By Map Extent</button>
                    </div>
                    <div class='actionButtons'>
                        <button mat-raised-button (click)="zoomToEmit()">Zoom To</button>
                    </div>
                    <div class='actionButtons' (click)="clear()">
                        <button mat-raised-button>Clear Selection</button>
                    </div>
                    <div class='actionButtons' (click)="refreshEmit()">
                        <button mat-raised-button>Refresh</button>
                    </div>
                    
                    <div class='actionButtons pagination'>
                      <mat-paginator [length]="totalAvailableWellsCount" [pageSizeOptions]="[5,10,15]"></mat-paginator>
                    </div>
                  </div>
                  <mat-tab-group [(selectedIndex)]="selectedTab" (selectedTabChange)="onTabChange($event)">
                    <mat-tab label="Well Records"> 
                    <div class="wellsTableContainer">
                      <mat-progress-bar mode="indeterminate" color='progress' *ngIf="isLoading"></mat-progress-bar>
                      <table class='wellsRecordTable' mat-table [dataSource]="dataSource" matSort>
                        <!-- Check Box Code-->
                        <ng-container matColumnDef="select">
                          <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                                          [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                          </th>
                          <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null; rowToggle($event);"
                                          [checked]="selection.isSelected(row)"
                                          [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                          </td>
                        </ng-container>
  
                        <!-- Looping through displayed column list -->
                        <ng-container *ngFor="let column of displayedWellRecordColumns">
                          <ng-container *ngIf="column !== 'select' && column !== 'reports'" [matColumnDef]="column">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase }} </th>
                            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                          </ng-container>
                        </ng-container>
                        <!-- End of column loop -->
  
                        <ng-container matColumnDef="reports">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> REPORTS </th>
                          <td mat-cell *matCellDef="let row">
                            <a target="_blank" [routerLink]="['/detail', row.wellId]">
                              <span  class="material-icons pointerClass" >
                                open_in_new
                              </span>
                            </a>
                          </td>
                        </ng-container>
                    
                        <tr mat-header-row *matHeaderRowDef="displayedWellRecordColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedWellRecordColumns;">
                        </tr>
                      </table>
                    </div>
                    </mat-tab>
                    <mat-tab label="MC">
                      <div class="wellsTableContainer">
                        <mat-progress-bar mode="indeterminate" color='progress' *ngIf="isLoading"></mat-progress-bar>
                        <table class='wellsRecordTable' mat-table [dataSource]="dataSource" matSort>
                          <!-- Check Box Code-->
                          <ng-container matColumnDef="select">
                            <th mat-header-cell *matHeaderCellDef>
                              <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [aria-label]="checkboxLabel()">
                              </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                              <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null; rowToggle($event);"
                                            [checked]="selection.isSelected(row)"
                                            [aria-label]="checkboxLabel(row)">
                              </mat-checkbox>
                            </td>
                          </ng-container>
    
                          <!-- Looping through displayed column list -->
                          <ng-container *ngFor="let column of displayedWellRecordColumns">
                            <ng-container *ngIf="column !== 'select' && column !== 'reports'" [matColumnDef]="column">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | uppercase }} </th>
                              <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
                            </ng-container>
                          </ng-container>
                          <!-- End of column loop -->
    
                          <ng-container matColumnDef="reports">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> REPORTS </th>
                            <td mat-cell *matCellDef="let row">
                              <a target="_blank" [routerLink]="['/detail', row.wellId]">
                                <span  class="material-icons pointerClass" >
                                  open_in_new
                                </span>
                              </a>
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedWellRecordColumns; sticky: true"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedWellRecordColumns;">
                          </tr>
                        </table>
                      </div>
                    </mat-tab>
                    <mat-tab label="CP"> Another table </mat-tab>
                    <mat-tab label="FT">Another table </mat-tab>
                    <mat-tab label="PF"> Another table </mat-tab>
                    <mat-tab label="Survey"> Another table </mat-tab>
                    <mat-tab label="IP Volume"> Another table </mat-tab>
                  </mat-tab-group>
                  
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>