<div class="container wrap-box-center">
    <div class="login-wrapper w-100">
        <h1 class="login-title">Reset Your Password</h1>
        <div class="alert alert-danger custom-alert" *ngIf="submitted && resetPasswordForm.controls.email.errors">
            <div *ngIf="resetPasswordForm.controls.email.errors.required" class="error-text">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is required
            </div>
            <div *ngIf="resetPasswordForm.controls.email.errors.email" class="error-text">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is not valid
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="border m-2">
                    <div class="login-right-panel">
                        <h4 class="title">Reset your password here</h4>

                        <form [formGroup]="resetPasswordForm"  (ngSubmit)="submitResetPasswordForm()">
                            <div class="form-group">
                                <label for="newPassword" class="mb-0">New Password <sup>*</sup></label>
                                <input type="text"
                                formControlName = 'newPassword' 
                                class="form-control" id="newPassword" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="confirmNewPassword" class="mb-0">Confirm New Password <sup>*</sup></label>
                                <input type="text"
                                formControlName = 'confirmNewPassword' 
                                class="form-control" id="confirmNewPassword" autocomplete="off">
                            </div>
                            
                            <div class="text-right">
                                <button type="submit" class="login-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="other-option">
                    <p class="caption mt-3"><sup>*</sup> Required Fields.</p>
                    <p class="forgot-password">
                        <span routerLink="/user-auth/login"><small>« </small>Back to Login</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>