.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .left-icons-placeholder {
    border: 1px solid grey;
    position: absolute;
    margin-top: 5%;
    margin-left: 0.65%;
    background-color: white;
    width: 30px;
    height: 100px;
    border-radius: 6%;
    z-index: 1000;
  }

  .leftIcon {
    margin-left: 3px;
    margin-top: 3px;
    cursor: pointer;
  }

  .search {
    margin-left: 3%;
  }

  .filterSearchWell {
    z-index: 1000;
  }

  .searchCard {
    z-index: 1000;
    width: fit-content;
    height: 35px;
    margin-top: 10px;
  }

  .filter {
    border: 1px solid grey;
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 6%;
    z-index: 1000;
  }

  div > label {
    display: block;
  }