<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>
<div class="left-icons-placeholder">
    <span class="material-icons leftIcon" (click)="currentLocation()" title="Show my location">
        location_searching
    </span>
    <hr style="margin-top: 1px;margin-bottom:  1px;"/>
    <span class="material-icons leftIcon" (click)="homeLocation()" title="Default extent">
        home
    </span>
    <hr style="margin-top: 1px;margin-bottom:  1px;"/>
    <span class="material-icons leftIcon" (click)="openFilterDialog()" title="Filter">
        filter_list
    </span>
</div>
<div class='search'>
    <mat-card class='searchCard'>
        <form class="example-form">
            <mat-form-field class="example-full-width filterSearchWell">
              <input type="text"
                     placeholder="Search Wells"
                     aria-label="Search Wells"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
                     <button mat-button *ngIf="this.myControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchInput()">
                        <mat-icon>close</mat-icon>
                      </button>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="goToSelectedWell($event.option.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.wellName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
    </mat-card>
</div>
<div>
    <app-wells-records [payLoadFromFilter]='payLoadFromFilter' [mapExtent]='mapExtent'
    (filterByExtent)="filterEmit($event)"
    (zoomTo)="zoomToEmit($event)"
    (clearSelection)="clear($event)"
    (refresh)="refreshEmit($event)"
    (selectedRowEmit)="markWell($event)"
    [openAdvancedFilter]="openAdvancedFilter"
    (openAdvancedFilterEvent)="openAdvancedFilterEvent($event)"
    ></app-wells-records>
</div>
