<div class="map-container">
    <div class="map-frame">
        <div id="map"></div>
    </div>
</div>
<div class="left-icons-placeholder">
    <span class="material-icons leftIcon" (click)="currentLocation()">
        location_searching
    </span>
    <hr style="margin-top: 1px;margin-bottom:  1px;"/>
    <span class="material-icons leftIcon" (click)="homeLocation()">
        home
    </span>
    <hr style="margin-top: 1px;margin-bottom:  1px;"/>
    <span class="material-icons leftIcon" (click)="openDialog()">
        filter_list
    </span>
</div>
<div class='search'>
    <mat-card class='searchCard'>
        <form class="example-form">
            <mat-form-field class="example-full-width filterSearchWell">
              <input type="text"
                     placeholder="Search Wells"
                     aria-label="Search Wells"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="goToSelectedWell($event.option.value)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.wellName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
    </mat-card>
</div>
<div>
    <app-wells-records [payLoadFromFilter]='payLoadFromFilter'></app-wells-records>
</div>
