.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
    height: 70%
  }
  
  .map-frame {
    height: 100%;
  }
  
  #map {
    height: 100%;
  }

  .left-icons-placeholder {
    border: 2px solid grey;
    position: absolute;
    margin-top: 5%;
    margin-left: 0.65%;
    background-color: white;
    width: 30px;
    height: 100px;
    border-radius: 6%;
    z-index: 1000;
  }

  .leftIcon {
    padding-left: 2px;
    padding-top: 3px;
    cursor: pointer;
  }

  .search {
    margin-left: 3%;
  }

  .filterSearchWell {
    z-index: 1000;
  }

  .searchCard {
    z-index: 1000;
    width: fit-content;
    height: auto;
    margin-top: 10px;
    padding: 0px 10px 0px;
  }

  .filter {
    border: 1px solid grey;
    position: absolute;
    margin-top: 5%;
    margin-left: 3%;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 6%;
    z-index: 1000;
  }

  div > label {
    display: block;
  }

  .leaflet-container {
    cursor: default;
  }


.mini-map-container {
  position: absolute;
    bottom: 68px;
    z-index: 999;
    height: 200px;
    width: 200px;
    left: 1px;
    border: 3px solid #e8e1e1;
    left: 15px;
}