<h1 mat-dialog-title>Group Filter</h1>

<form [formGroup]="form">
  <div formArrayName='filters'>
    <div formGroup='0'>
      <div>
        <mat-form-field>
          <mat-label>Choose Group</mat-label>
          <mat-select (selectionChange)="type()" formControlName="group">
            <mat-option *ngFor="let group of groups" [value]="group.value" >
              {{group.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Choose Condition</mat-label>
          <mat-select (selectionChange)="criteria()" formControlName="criteria">
            <mat-option *ngFor="let criteria of criterias" [value]="criteria.value" >
              {{criteria.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Choose Value</mat-label>
          <mat-select (selectionChange)="value()" formControlName="value">
            <mat-option *ngFor="let value of values" [value]="value" >
              {{value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="isLoggedIn">
        <mat-form-field>
          <mat-label>Choose Format</mat-label>
          <mat-select (selectionChange)="fileFormat()" formControlName="format">
            <mat-option *ngFor="let format of formats" [value]="format.value" >
              {{format.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="form.value" (click)="onNoClick()">Reset</button>
  <button mat-button [mat-dialog-close]="form.value">Apply</button>
  <button mat-button title='Login to export data' [disabled]="!isLoggedIn" (click)="generateReport()">Export</button>
</div>

	
<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
