<div>
  <div class='titleOptions'>
    <div>
      <h1 mat-dialog-title>Group Filter</h1>
    </div>
    <div>
      <button mat-flat-button (click)="toggleView()">
        <span class="material-icons">
          settings
        </span>
      </button>
    </div>
  </div>

<div *ngIf="filterView">
<div class="criteriaForm">
<form [formGroup]="form">
  <div formArrayName='wellsCriteria' *ngFor="let wellCriteria of formData.controls; let i = index">
    <div [formGroupName]=i>
      <div *ngIf="formData.length > 1" class="close">
        <button mat-button (click)="removeCriteria(i)">
          <span class="material-icons">
            close
          </span>
        </button>
      </div>
      <div class="field" *ngIf="isConditionAdded(i)">
        <mat-form-field>
          <mat-label>Choose Operator</mat-label>
          <mat-select formControlName="operator" id="{{'operator' + i}}">
            <mat-option *ngFor="let operator of operators" [value]="operator" >
              {{operator}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Choose Field</mat-label>
          <mat-select (selectionChange)="type(i)" formControlName="field" id="{{'field' + i}}">
            <mat-option *ngFor="let field of fields" [value]="field.value" >
              {{field.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Choose Condition</mat-label>
          <mat-select formControlName="condition" id="{{'criteria' + i}}">
            <mat-option *ngFor="let condition of conditions" [value]="condition.value" >
              {{condition.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Choose Value</mat-label>
          <mat-select formControlName="value" id="{{'value' + i}}">
            <mat-option *ngFor="let value of values[i]" [value]="value" >
              {{value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngIf="isLoggedIn">
    <mat-form-field>
      <mat-label>Choose Format</mat-label>
      <mat-select formControlName="reportType">
        <mat-option *ngFor="let format of formats" [value]="format.value" >
          {{format.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-4">
    <button  mat-button (click)="addCriteria()">Add Criteria</button>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Reset</button>
  <button mat-button [title]='applyMsg' [mat-dialog-close]="form.value" [disabled]="!this.form.valid">Apply</button>
  <button mat-button [title]='titleMsg' [disabled]="!isLoggedIn || !this.form.value.reportType || !this.form.valid" (click)="generateReport()">Export</button>
</div>
</div>
<div *ngIf="!filterView">
  <div class="options">
    <div>Save current settings</div>
    <button mat-button mat-flat-button (click)="saveJsonFile()" title="Save Filter Choices">
      <span class="material-icons">
        save_alt
      </span>
    </button>
  </div>
  <div class="options">
    <div>Upload a saved file</div>
      <input type='file' accept=".json" (change)="log($event)">
  </div>
  <div class="options">
    <div>Filter Options</div>
    <mat-checkbox (change)="persistChanges($event)" [(ngModel)]="persist">Persist After Widget is Closed</mat-checkbox>
  </div>
  <div class="options">
    <div>Refresh Data</div>
    <span>
      <span class="material-icons clickable" mat-flat-button (click)="refreshData()">
      refresh
    </span> Refresh Values in Drop Down
    </span>
  </div>
</div>
</div>