<h1 mat-dialog-title>Group Filter</h1>
<form>
  <div>
    <mat-form-field>
      <mat-label>Choose Group</mat-label>
      <mat-select (selectionChange)="type($event)">
        <mat-option *ngFor="let group of groups" [value]="group.value">
          {{group.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Choose Condition</mat-label>
      <mat-select (selectionChange)="criteria($event)">
        <mat-option *ngFor="let criteria of criterias" [value]="criteria.value">
          {{criteria.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Choose Value</mat-label>
      <mat-select (selectionChange)="value($event)">
        <mat-option *ngFor="let value of values" [value]="value">
          {{value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="isLoggedIn">
    <mat-form-field>
      <mat-label>Choose Format</mat-label>
      <mat-select (selectionChange)="fileFormat($event)">
        <mat-option *ngFor="let format of formats" [value]="format.value">
          {{format.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button [mat-dialog-close]="payLoad">Apply</button>
  <button mat-button *ngIf="isLoggedIn" (click)="generateReport()">Generate Report</button>
</div>

	
<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
