.user-list-title {
    font-size: 18px;
    margin-top: 10%;
}

.user-list-wrapper {
    height: auto;
    overflow: auto;
    border: 1px solid #ddd;
    max-height: 500px;
}

.stickyTable {
    margin-bottom: 0px;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    border-bottom: 1px solid #ddd;
}