


<div class="container">
    <h1 class="user-list-title">List of Users</h1>
    <div class="user-list-wrapper">
    <table class="table table-hover stickyTable">
        <tr>
            <th>#</th>
            <th>User Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th class="text-center">Status</th>
            <th>Subscribe Valid</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let user of users; let index = index">
            <td>{{index + 1}}</td>
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.emailAddress}}</td>
            <td class="text-center">
                <i class="fa"
                [title]="user.status == 'ACTIVE'? 'ACTIVE' : 'INACTIVE'" 
                [ngClass]="user.status == 'ACTIVE' ? 'fa-eye': 'fa-eye-slash'"></i>
                <!-- {{user.status}} -->
            </td>
            <td>{{user.subscribeValid}}</td>
            <td>
                <button class="btn btn-success rounded-0" (click)="gotoUser(user.id)">Approval</button>
            </td>
            <!-- <td>
                <button class="btn btn-danger rounded-0"><i class="fa fa-trash"></i></button>
            </td> -->
        </tr>
    </table>
</div>
<!-- <router-outlet></router-outlet> -->
</div>