<div style="height: calc(100% - 50px);">
    <as-split 
      class="split-container"
      unit="percent" 
      direction="horizontal">
        <as-split-area size="60" style="position: relative;">
            <app-map></app-map>
        </as-split-area>
        <as-split-area size="40" style="background: rgba(0, 0, 0, .76);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;">
        <h3>charts goes here</h3>
        </as-split-area>
    </as-split>
    
</div>
<div>
    <app-wells-records></app-wells-records>
</div>