<div class="container wrap-box-center">
    <div class="login-wrapper w-100">
        <h1 class="login-title">Forgot Your Password?</h1>
        <div class="alert alert-success" *ngIf="isSuccess">
            <div>{{message}}</div>
        </div>
        <div class="alert alert-danger" *ngIf="isFailed">
            <div>{{message}}</div>
        </div>
        <div class="alert alert-danger custom-alert" *ngIf="submitted && forgotPasswordForm.controls.email.errors">
            <div *ngIf="forgotPasswordForm.controls.email.errors.required" class="error-text">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is required
            </div>
            <div *ngIf="forgotPasswordForm.controls.email.errors.email" class="error-text">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email is not valid
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-sm-12">
                <div class="border m-2">
                    <div class="login-right-panel">
                        <h4 class="title">Retrieve your password here</h4>
                        <p class="caption mt-3">Please enter your email address below. You will receive a link to reset your password.</p>

                        <form [formGroup]="forgotPasswordForm"  (ngSubmit)="submitResetPasswordForm()">
                            <div class="form-group">
                                <label for="email" class="mb-0">Email Address <sup>*</sup></label>
                                <input type="text"
                                formControlName = 'email' 
                                class="form-control" id="email" autocomplete="off">
                            </div>
                            
                            <div class="text-right">
                                <button type="submit" class="login-btn">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="other-option">
                    <p class="caption mt-3"><sup>*</sup> Required Fields.</p>
                    <p class="forgot-password">
                        <span routerLink="/user-auth/login"><small>« </small>Back to Login</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>