<table class="center">
  <!-- logos -->
  <table class="tablehead">
    <tr>
      <td class="header header-left">
        API:{{ wellDetails.wellId }} </td>
      <td class="header header-right"><img class="logo pointerClass" routerLink='/home' src="../assets/USLandGrid3.png">
      </td>
    </tr>
    <tr>
      <td></td>
      <td class="row1"><a href='#/user-auth/login'>Login</a></td>
    </tr>
    <tr>
      <td *ngIf='wellDetails != null' class="row1"><a target="_blank"
          href="http://imaging.occeweb.com/imaging/OGWellRecords.aspx?api={{substr()}}"><img src='/assets/scout.png'
            style="height:20px;">&nbsp;click here for scout ticket</a></td>
      <td class="row1"><a href="#"><img src='/assets/email.png' style="height:20px;">&nbsp;Report data issue</a></td>
    </tr>
  </table>
  <!-- well header -->
  <table class="tablehead1" style="height:450px">
    <tr>
      <td class="tdClass">
        <ng-container *ngIf='wellDetails != null'>
          <table class="tableRows">
            <tr class="tableRows">
              <td class="colorRows tableRows">Well ID</td>
              <td class="tableRows">{{ wellDetails.wellId }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Well Name</td>
              <td class="tableRows">{{ wellDetails.wellName }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Operator Name</td>
              <td class="tableRows">{{ wellDetails.operator }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Well Number</td>
              <td class="tableRows"> {{  wellDetails.wellNumber  }} </td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Status</td>
              <td class="tableRows"> {{ wellDetails.status }} </td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Geocoordinates</td>
              <td class="tableRows">
                {{ wellDetails.latitude | number:'.1-8'  }},{{ wellDetails.longitude | number:'.1-8'  }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Spud Date</td>
              <td class="tableRows">{{ wellDetails.spudDate }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Completion Date</td>
              <td class="tableRows">{{ wellDetails.completionDate }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">County</td>
              <td class="tableRows">{{ wellDetails.county }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">Datum Type</td>
              <td class="tableRows">{{ wellDetails.datumType }}</td>
            </tr>
            <tr class="tableRows">
              <td class="colorRows tableRows">TVD</td>
              <td class="tableRows">{{ wellDetails.tvd }}</td>
            </tr>
          </table>
        </ng-container>
      </td>
      <!-- Line chart -->
      <td class="line">
        <div class='chartStyle1' *ngIf="lineChartData"> 
          <span>
            <button mat-raised-button id="buttongas"
            (click)="gasProduction()">Gas</button>
            <button mat-raised-button id="buttonoil"
            (click)="oilProduction()">Oil</button>&nbsp;&nbsp;
          </span>
          <h5>{{linetitle}}</h5>
          <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div> 
      </td>
    </tr>
  </table>

  <!-- Barchart and Donut chart -->
  <table class="tablehead line" style="height:600px">
    <span class="tab">
      <button mat-raised-button id="buttonoilzone"
      (click)="oilProductionzone()">Oil</button>&nbsp;&nbsp;
    <button mat-raised-button  id="buttongaszone"
      (click)="gasProductionzone()">Gas</button>&nbsp;&nbsp;
      <!-- <button mat-raised-button id="operator"
    (click)="operator()">Operator</button> -->
    </span>
    <tr>
      <td>
        <table>
        <rg-gauge-chart
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
        [bottomLabel]="bottomLabel"></rg-gauge-chart>
    
        <rg-gauge-chart
        [canvasWidth]="canvasWidth"
        [needleValue]="needleValue"
        [centralLabel]="centralLabel"
        [options]="options"
        [name]="name"
        [bottomLabel]="bottomLabel"></rg-gauge-chart>
      </table>
      </td>
      <td>
        <div class='chartStyle2' *ngIf="barChartData">
          <h4>{{title}}</h4>
          <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType"></canvas>
        </div> 
      </td>
      <td>
        <div class="chartStyle3">
          <canvas baseChart
              [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors"
              [options]="chartOptions" [legend]="true" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </td>
      <!-- <td>
        <div class='chartStyle3' *ngIf="doughNutChartData">
          <h4>{{operatortitle}}</h4>
          <canvas baseChart [datasets]="doughNutChartData" [options]="doughNutChartOptions" [labels]="doughNutChartLabels"
          [legend]="doughNutChartLegend" [chartType]="doughNutChartType" style="width:350px;height:500px"></canvas>
        </div>
      </td> -->
      </tr>
  </table>
  <!-- Oil and Gas Data -->
   <table class="tablehead" *ngIf='isLoggedIn'>
    <tr>
      <button mat-raised-button color="accent" style="background-color:#33a02c;position:relative"
        (click)="oilValue()">Oil</button>&nbsp;&nbsp;
      <button mat-raised-button color="accent" style="background-color:#F93C3D;position:absolute"
        (click)="gasValue()">Gas</button>
    </tr>
    <tr>
      <td class="oilTdClass" style="padding-left:0px;">
        <table class="table table-bordered">
          <thead>
            <th class="oilColorData oilData" id="demohigh">High</th>
            <th class="oilColorData oilData" id="demolow">Low</th>
          </thead>
          <tbody>
            <td class="oilData  oilHeight" id="high">50</td>
            <td class="oilData  oilHeight" id="low">5</td>
          </tbody>
        </table>
      </td>
      <td class="oilTdClass">
        <table class="table table-bordered">
          <thead>
            <th class="oilColorData oilData" id="demoavgmonth">Avg.Monthly</th>
            <th class="oilColorData oilData" id="demoavgyear">Avg.Yearly</th>
          </thead>
          <tbody>
            <td class="oilData oilHeight" id="avgmonth">200</td>
            <td class="oilData oilHeight" id="avgyear">1000</td>
          </tbody>
        </table>
      </td>
      <td class="oilTdClass">
        <table class="table table-bordered">
          <thead>
            <th class="oilColorData oilData" id="demominmonth">MinMonthly</th>
            <th class="oilColorData oilData" id="demomaxmonth">MaxMonthly</th>
          </thead>
          <tbody>
            <td class="oilData oilHeight" id="minmonth">17</td>
            <td class="oilData oilHeight" id="maxmonth">190</td>
          </tbody>
        </table>
      </td>
      <td class="oilTdClass">
        <table class="table table-bordered">
          <thead>
            <th class="oilColorData oilData" id="demominyear">MinYearly</th>
            <th class="oilColorData oilData" id="demomaxyear">MaxYearly</th>
          </thead>
          <tbody>
            <td class="oilData oilHeight oilHeight" id="minyear">990</td>
            <td class="oilData oilHeight oilHeight" id="maxyear">1200</td>
          </tbody>
        </table>
      </td>
      <td class="oilTdClass">
        <table class="table table-bordered">
          <thead>
            <th class="oilColorData oilData" id="demofirstmonth">FirstMonth</th>
            <th class="oilColorData oilData" id="demolastmonth">LastMonth</th>
          </thead>
          <tbody>
            <td class="oilData oilHeight oilHeight" id="firstmonth">990</td>
            <td class="oilData oilHeight oilHeight" id="lastmonth">1200</td>
          </tbody>
        </table>
      </td>
    </tr>
  </table> 

  <!-- Scout data  -->

  <table class='tablehead' *ngIf='isLoggedIn'> 
    <td colspan='2' style="width:40%">
      <table class="table table-bordered scoutTable">
        <thead>
          <th colspan='2' class="scouttableColor">
            Scout Data
          </th>
        </thead>
        <tbody>
          <tr>
            <td class='scoutData'>Formation</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>ProductionZone</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>CompletionDate</td>
            <td class='scoutData'></td>
          </tr>
        </tbody>
      </table>
      <!-- Perforation -->
      <table class="table table-bordered">
        <thead>
          <th colspan='2' class="scouttableColor">
            Perforation
          </th>
        </thead>
        <tbody>
          <tr>
            <td class='scoutData'>Perforation Top Depth</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>Perforation Base Depth</td>
            <td class='scoutData'></td>
          </tr>
        </tbody>
      </table>
    </td>
    <!-- ProductionSummary -->
    <td class='productionTable'>
      <table class="table table-bordered">
        <thead>
          <th colspan='2' class="scouttableColor">
            Production Summary
          </th>
        </thead>
        <tbody>
          <tr>
            <td class='scoutData'>PrimaryProduct</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>MaximumProduction Date</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>FirstYear Production</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>LastYear Production</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>First Six Months Production</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>Last Six Months Production</td>
            <td class='scoutData'></td>
          </tr>
          <tr>
            <td class='scoutData'>CumulativeProduction</td>
            <td class='scoutData'></td>
          </tr>
        </tbody>
      </table>
    </td>
  </table>
  <!-- tabs -->

  <div class='btn-group btn-group-lg tabshead'>
    <button mat-stroked-button  class='tabs' (click)="WH()" id='wh'>Well Header</button>
    <button mat-stroked-button  class='tabs' (click)="MC()" id='mc'>Casing</button>
    <button mat-stroked-button  class='tabs' (click)="IP()" id='ip'>Initial Potential</button>
    <button mat-stroked-button  class='tabs' (click)="CP()" id='cp'>Completion</button>
    <button mat-stroked-button  class='tabs' (click)="FT()" id='ft'>Formation</button>
    <button mat-stroked-button  class='tabs' (click)="PF()" id='pf'>Perforation</button>
    <button mat-stroked-button  class='tabs' (click)="ST()" id='st'>Survey</button>
    <button mat-stroked-button  class='tabs' (click)="PT()" id='pt'>Production</button>
  </div>


<!-- Well Records -->
<ng-container *ngIf='isLoggedIn'>
  <div class='tableAdjust' *ngIf='hideTableWH'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsWH.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of WHheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
    </thead>
      <tbody>
      <tr *ngFor="let value of wellDetailsWH" class='layerText'>
        <td  *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</ng-container>


  <!-- Casing Data -->
  <ng-container *ngIf='isLoggedIn'>
    <div class="tableAdjust" *ngIf='hideTableMC'>
      <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsMC.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of MCheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsMC" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>


  <!-- Initial Potential -->
  <ng-container *ngIf='isLoggedIn' >
    <div class="tableAdjust" *ngIf='hideTableIP'>
      <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsIP.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of IPheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsIP" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Completion -->
  <ng-container *ngIf='isLoggedIn' >
    <div class="tableAdjust" *ngIf='hideTableCP'>
      <table class="table table-bordered tablehead" *ngIf='wellDetailsCP.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of CPheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsCP" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Formation -->
  <ng-container *ngIf='isLoggedIn'>
    <div class="tableAdjust" *ngIf='hideTableFT'>
      <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsFT.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of FTheaders" class='layerText layerTableColor'>
          {{ value}}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsFT" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Perforation -->
  <ng-container  *ngIf='isLoggedIn'>
    <div class="tableAdjust" *ngIf='hideTablePF'>
      <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsPF.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of PFheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsPF" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Survey   -->
  <ng-container *ngIf='isLoggedIn'>
    <div class="tableAdjust" *ngIf='hideTableST'>
      <table class="table table-bordered tablehead" *ngIf='wellDetailsSurvey.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of STheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsSurvey" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>

  <!-- Production  -->
  <ng-container *ngIf='isLoggedIn'>
    <div class="tableAdjust" *ngIf='hideTablePT'>
      <table class="table table-bordered tablehead" *ngIf='wellDetailsPT.length'>
        <thead class='headerPart'>
        <th *ngFor="let value of PTheaders" class='layerText layerTableColor'>
          {{ value }}
        </th>
      </thead>
        <tbody>
        <tr *ngFor="let value of wellDetailsPT" class='layerText'>
          <td *ngFor="let val of value">{{ val.value }}</td>
        </tr>
      </tbody>
      </table>
    </div>
  </ng-container>
<!-- second time adding tabs -->
  <div class='btn-group btn-group-lg tabshead'>
    <button mat-stroked-button  class='tabs' (click)="WH1()" id='wh1'>Well Header</button>
    <button mat-stroked-button  class='tabs' (click)="MC1()" id='mc1'>Casing</button>
    <button mat-stroked-button  class='tabs' (click)="IP1()" id='ip1'>Initial Potential</button>
    <button mat-stroked-button  class='tabs' (click)="CP1()" id='cp1'>Completion</button>
    <button mat-stroked-button  class='tabs' (click)="FT1()" id='ft1'>Formation</button>
    <button mat-stroked-button  class='tabs' (click)="PF1()" id='pf1'>Perforation</button>
    <button mat-stroked-button  class='tabs' (click)="ST1()" id='st1'>Survey</button>
    <button mat-stroked-button  class='tabs' (click)="PT1()" id='pt1'>Production</button>
  </div>
  <!-- second time adding layers code -->
<!-- Well Records -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableWH1'>
    <table class="table table-bordered tablehead table-responsive"  *ngIf='wellDetailsWH.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of WHheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsWH" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
      </tbody> 
    </table>
  </div>
</ng-container>
 <!-- Casing Data -->
 <ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableMC1'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsMC.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of MCheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsMC" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Initial Potential -->
<ng-container *ngIf='isLoggedIn' >
  <div class="tableAdjust" *ngIf='hideTableIP1'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsIP.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of IPheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
      </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsIP" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<!-- Completion -->
<ng-container *ngIf='isLoggedIn' >
  <div class="tableAdjust" *ngIf='hideTableCP1'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsCP.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of CPheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsCP" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Formation -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableFT1'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsFT.length'>
        <thead class='headerPart'>
      <th *ngFor="let value of FTheaders" class='layerText layerTableColor'>
        {{ value}}
      </th>
      </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsFT" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
         </tbody>
    </table>
  </div>
</ng-container>

<!-- Perforation -->
<ng-container  *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTablePF1'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsPF.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of PFheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsPF" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Survey   -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableST1'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsSurvey.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of STheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let value of wellDetailsSurvey" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>  
    </table>
  </div>
</ng-container>

<!-- Production  -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTablePT1'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsPT.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of PTheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let value of wellDetailsPT" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</ng-container>
<!-- third time adding tabs -->
  <div class='btn-group btn-group-lg tabshead'>
    <button mat-stroked-button  class='tabs' (click)="WH2()" id='wh2'>Well Header</button>
    <button mat-stroked-button  class='tabs' (click)="MC2()" id='mc2'>Casing</button>
    <button mat-stroked-button  class='tabs' (click)="IP2()" id='ip2'>Initial Potential</button>
    <button mat-stroked-button  class='tabs' (click)="CP2()" id='cp2'>Completion</button>
    <button mat-stroked-button  class='tabs' (click)="FT2()" id='ft2'>Formation</button>
    <button mat-stroked-button  class='tabs' (click)="PF2()" id='pf2'>Perforation</button>
    <button mat-stroked-button  class='tabs' (click)="ST2()" id='st2'>Survey</button>
    <button mat-stroked-button  class='tabs' (click)="PT2()" id='pt2'>Production</button>
  </div>
<!-- third time adding layers code -->
  <!-- Well Records -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableWH2'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsWH.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of WHheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
      </thead>
      <tbody>
      <tr *ngFor="let value of wellDetailsWH" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Casing Data -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableMC2'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsMC.length'>
        <thead class='headerPart'>
      <th *ngFor="let value of MCheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsMC" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Initial Potential -->
<ng-container *ngIf='isLoggedIn' >
  <div class="tableAdjust" *ngIf='hideTableIP2'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsIP.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of IPheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
      </thead>
        <tbody> 
      <tr *ngFor="let value of wellDetailsIP" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>   
    </table>
  </div>
</ng-container>

<!-- Completion -->
<ng-container *ngIf='isLoggedIn' >
  <div class="tableAdjust" *ngIf='hideTableCP2'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsCP.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of CPheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
        </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsCP" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<!-- Formation -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableFT2'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsFT.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of FTheaders" class='layerText layerTableColor'>
        {{ value}}
      </th>
       </thead>
        <tbody>
      <tr *ngFor="let value of wellDetailsFT" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
       </tbody>
    </table>
  </div>
</ng-container>

<!-- Perforation -->
<ng-container  *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTablePF2'>
    <table class="table table-bordered tablehead table-responsive" *ngIf='wellDetailsPF.length'>
       <thead class='headerPart'>
      <th *ngFor="let value of PFheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
     </thead>
        <tbody>  
      <tr *ngFor="let value of wellDetailsPF" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
         </tbody>
    </table>
  </div>
</ng-container>

<!-- Survey   -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTableST2'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsSurvey.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of STheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let value of wellDetailsSurvey" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</ng-container>

<!-- Production  -->
<ng-container *ngIf='isLoggedIn'>
  <div class="tableAdjust" *ngIf='hideTablePT2'>
    <table class="table table-bordered tablehead" *ngIf='wellDetailsPT.length'>
      <thead class='headerPart'>
      <th *ngFor="let value of PTheaders" class='layerText layerTableColor'>
        {{ value }}
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let value of wellDetailsPT" class='layerText'>
        <td *ngFor="let val of value">{{ val.value }}</td>
      </tr>
    </tbody>
    </table>
  </div>
</ng-container>
</table>




