.hzLine {
    border: none;
    border-top: 1px solid #333333;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .attrName {
    color: #888888;
    padding-right: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  :host::ng-deep .mat-dialog-container {
    resize: both; 
    overflow: auto;
    margin-right: 30px !important;
  }

  .info-title {
    font-size: 14px;
  }

  .infoTable tr td:nth-child(2) {
    font-size: 14px;
  }