.hzLine {
    border: none;
    border-top: 1px solid #333333;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .attrName {
    color: #888888;
    padding-right: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }