<div>
    <div class="header">USLandgrid Well: {{data[0].wellName}}</div>
    <div class="hzLine"></div>
    <div>
    <table>
      <tr>
        <td class="attrName">well_id</td>
        <td>{{data[0].wellId}}</td>
      </tr>
      <tr>
        <td class="attrName">well_name</td>
        <td>{{data[0].wellName}}</td>
      </tr>
      <tr>
        <td class="attrName">operator</td>
        <td>{{data[0].operator}}</td>
      </tr>
      <tr>
        <td class="attrName">well_number</td>
        <td>{{data[0].wellNumber}}</td>
      </tr>
      <tr>
        <td class="attrName">status</td>
        <td>{{data[0].status}}</td>
      </tr>
      <tr>
        <td class="attrName">latitude</td>
        <td>{{data[0].latitude}}</td>
      </tr>
      <tr>
        <td class="attrName">longitude</td>
        <td>{{data[0].longitude}}</td>
      </tr>
      <tr>
        <td class="attrName">spud_date</td>
        <td>{{data[0].spudDate}}</td>
      </tr>
      <tr>
        <td class="attrName">completion_date</td>
        <td>{{data[0].completionDate}}</td>
      </tr>
      <tr>
        <td class="attrName">datum_type</td>
        <td>{{data[0].datumType}}</td>
      </tr>
      <tr>
        <td class="attrName">tvd</td>
        <td>{{data[0].tvd}}</td>
      </tr>
      <tr>
        <td class="attrName">state</td>
        <td>{{data[0].state}}</td>
      </tr>
      <tr>
        <td class="attrName">county</td>
        <td>{{data[0].county}}</td>
      </tr>
      <tr>
        <td class="attrName">reports</td>
        <td><a target="_blank" [routerLink]="['/detail', data[0].wellId]">Reports Page</a></td>
      </tr>
    </table>
  </div>