.header {
    display: flex;
    justify-content: space-between;
}

::ng-deep .auto-width{
    .mat-form-field {
        width: auto !important;
    }
    .mat-select-value {
        max-width: 100%;
        width: auto;
    }
}

.actionButtons {
    margin-bottom: 16px;
}

::ng-deep .mat-menu-content {
    height: auto;
  }
