<div>
  <div class="header">
    <div cdkDrag cdkDragRootElement=".cdk-overlay-pane" style="position: absolute;">
    </div>
  </div>

  <div class="filter-group">
    <div class="row-filter">
      <div class="col-filter" style="width: 86%;">
        <div class="filter-header-set">
          <div class="select-query">
            <mat-radio-group aria-label="select query">
              <mat-radio-button checked  style="margin-left: 5px;">Apply all the conditions </mat-radio-button>
              <mat-radio-button value="2" style="margin-left: 15px;"> Apply any of the conditions</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    
      <div class="col-filter">
        <div class="close-filter text-right">
          <button class="close-filter-btn"  (click)="onNoClick()">
           <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="filter-body">
        <div class="accordion filter-card" id="filterAccordian">
            <div class="card">
                <div class="card-header" 
                id="headingOne" (click) = "toggleCollapse()"
                data-toggle="collapse" data-target="#collapseOne">
                <div class="row">
                  <div class="col-md-6">
                    <span class="toggle-icon"><i class="fa fa-plus"></i></span> 
                    <span class="card-header-lable">Wells</span>	
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="total-lable">Total</span> 
                    <span class="count-lable">3246447</span>
                  </div>
                </div>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#filterAccordian">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                        <button class="btn filter-button" aria-expanded="false"
                        data-toggle="collapse" data-target="#wellStringCollapse">
                        State
                        </button>
                        </div>
                        <div class="col-md-6">
                          <button class="btn filter-button" aria-expanded="false"
                          data-toggle="collapse" data-target="#wellIntegerCollapse">
                            TotalDepth
                          </button>
                        </div>
                      </div>
                      <div id="wellStringCollapse" class="collapse" data-parent="#collapseOne">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="sub-group-wrapper">
                                <div class="form-group filter-form-control">
                                  <label for="wellCondtions">Text</label>
                                  <input class="form-control" id="wellCondtions" required #wellsText>
                                  <span *ngIf="wellsText.touched && wellsText.value == ''">Text is required</span>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>

                      <div id="wellIntegerCollapse" class="collapse" data-parent="#collapseOne">
                          <div class="row">
                            <div class="offset-md-6"></div>
                            <div class="col-md-6ss">
                              <div class="sub-group-wrapper d-flex">
                              <div class="form-group filter-form-control">
                                <label for="wellIntConditions">From</label>
                                <input type="number" class="form-control" id="wellIntConditions">
                              </div>
                              <div class="form-group filter-form-control">
                                <label for="wellIntOptions">To</label>
                                <input type="number" class="form-control" id="wellIntOptions">
                              </div>
                            </div>
                            </div>
                          </div>
                        
                      </div>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo"
                (click) = "toggleCollapse()"
                data-toggle="collapse" data-target="#collapseTwo">
                <div class="row">
                  <div class="col-md-6">
                    <span class="toggle-icon"><i class="fa fa-plus"></i></span> 
                    <span class="card-header-lable">Land Grid</span>	
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="total-lable">Total</span> 
                    <span class="count-lable">3246447</span>
                  </div>
                </div>   
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#filterAccordian">
                    <div class="card-body">
                        <p>Land grid goes here</p>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree"
                (click) = "toggleCollapse()"
                data-toggle="collapse" data-target="#collapseThree">
                <div class="row">
                  <div class="col-md-6">
                    <span class="toggle-icon"><i class="fa fa-plus"></i></span> 
                    <span class="card-header-lable">Date</span>	
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="total-lable">Total</span> 
                    <span class="count-lable">3246447</span>
                  </div>
                </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#filterAccordian">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-6">
                          <button class="btn filter-button" aria-expanded="false" data-toggle="collapse" data-target="#spudDateCollapse">
                            Spud Date
                          </button>
                        </div>
                      </div>
                      <div id="spudDateCollapse" class="collapse" data-parent="#collapseThree">
                        <div class="row">
                            <div class="col-sm-6">
                              <div class="sub-group-wrapper d-flex">
                                <div class="form-group filter-form-control">
                                  <label for="wellCondtions">From</label>
                                  <input class="form-control" id="wellCondtions" 
                                  placement="right"
                                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                  bsDatepicker>
                                </div>
                                <div class="form-group filter-form-control">
                                  <label for="wellCondtions">To</label>
                                  <input class="form-control" id="wellCondtions"
                                  placement="right"
                                  [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" 
                                  bsDatepicker>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="heading4"
                (click) = "toggleCollapse()"
                data-toggle="collapse" data-target="#collapseFour">
                <div class="row">
                  <div class="col-md-6">
                    <span class="toggle-icon"><i class="fa fa-plus"></i></span> 
                    <span class="card-header-lable">Production</span>	
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="total-lable">Total</span> 
                    <span class="count-lable">3246447</span>
                  </div>
                </div>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#filterAccordian">
                    <div class="card-body">
                        <p>Other menu goes here</p>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="filter-footer">
      <button class="filter-btn-apply" (click)="applyfil()">Apply</button>
      <button class="filter-btn-clear">Clear All</button>
    </div>
    
  </div>

  <!-- -<div class='actionButtons'> -->
    <!-- <button mat-button (click)="addExpressionToExp()">
      <mat-icon color="primary">add</mat-icon> Add Expression
    </button> -->
    <!-- -<button mat-button (click)="addSetToSetForm()">
      <mat-icon color="primary">add</mat-icon> Add Set
    </button>
  </div>
  <div mat-dialog-content class='auto-width'>
      <mat-form-field *ngIf="displayGlobalConditions">
          <mat-label>Select condition</mat-label>
          <mat-select [(value)]="selectedGlobalCondition">
            <mat-option *ngFor="let conditions of globalLogicalConditions" [value]="conditions.value">
              {{conditions.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
      <form [formGroup]="advanceFilterForm">
        <div formArrayName='exp'>
          <div class ="fields" *ngFor='let exp of expForms.controls; let i=index;' [formGroupName]="i">
            <mat-form-field>
              <input matInput placeholder="Column" aria-label="Column" [matAutocomplete]="columnsAutoComplete"
              formControlName="column">
              <mat-autocomplete #columnsAutoComplete="matAutocomplete" (optionSelected)="changeExpColumnValue(i)">
                <mat-option *ngFor="let column of columns" [value]="column.value">
                  <span>{{column.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Condition" aria-label="Condition" [matAutocomplete]="conditionsAutoComplete"
              formControlName="condition">
              <mat-autocomplete #conditionsAutoComplete="matAutocomplete" (optionSelected)="expConditionChange(i)">
                <mat-option *ngFor="let condition of conditions" [value]="condition.value">
                  <span>{{condition.name}}</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field *ngIf="valueTypeMap[i] == 'Value'">
              <input matInput placeholder="Enter filter term here" 
              aria-label="Value" formControlName="value" (change)="updateInput(i)">
            </mat-form-field>
            <app-multi-select *ngIf="valueTypeMap[i] == 'Field'"
            [data]="values[i]" 
            (changeDropdown)="updateInput(i, $event)"
            [enableCheckbox]="false">
            </app-multi-select>
            <app-multi-select *ngIf="valueTypeMap[i] == 'Unique'"
            [data]="values[i]" 
            (changeDropdown)="updateInput(i, $event)"
            [enableCheckbox]="false">
            </app-multi-select>
            <app-multi-select *ngIf="valueTypeMap[i] == 'Multiple'"
            [optionMultiCtrl]="getValueFieldFormControl(i)" [data]="values[i]" [enableCheckbox]="true">
            </app-multi-select>
            <button mat-icon-button [matMenuTriggerFor]="expMenu" aria-label="Example icon-button with a menu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #expMenu="matMenu">
              <mat-radio-group class="valuetype-radio-group">
                <mat-radio-button class="valuetype-radio-button" 
                mat-menu *ngFor="let value of valueTypes" [value]="value"
                [checked] = "valueTypeMap[i] == value"
                (change)="expSettingMenuChange(i, value)" [disabled]="setExpMenuValues(i, value)">
                  {{value}}
                </mat-radio-button>
              </mat-radio-group>
            </mat-menu>
            <button mat-icon-button (click)="deleteExpFromExpArray(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <br/> -->
            <!-- <mat-checkbox formControlName="caseSensitive">
              Case Sensitive
            </mat-checkbox> -->
            
          <!-- -</div>
        </div>
        <div formArrayName='set'>
          <div *ngFor='let set of setForms.controls; let i=index;' [formGroupName]="i">
            <div class='fields'>
              <mat-form-field>
                <mat-label>Select condition</mat-label>
                <mat-select formControlName="setOperator">
                  <mat-option *ngFor="let conditions of setLogicalConditions" [value]="conditions.value">
                    {{conditions.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div>
                <button mat-icon-button (click)="deleteSet(i)">
                  <mat-icon>delete</mat-icon>
                </button> -->
                <!-- <button mat-button (click)="addExpToSetForm(i)">
                  <mat-icon color="primary">add</mat-icon> Add Expression
                </button> -->
              <!-- -</div>
            </div>
            <div formArrayName='exp'>
            <div class="fields" *ngFor="let exp of set.get('exp').controls;let j = index;even as isEven odd as isOdd" [formGroupName]="j">
              
                <mat-form-field>
                  <input matInput placeholder="Column" aria-label="Column" [matAutocomplete]="columnsAutoComplete"
                  formControlName="column">
                  <mat-autocomplete #columnsAutoComplete="matAutocomplete" (optionSelected)="changeSetExpColumnValue(i, j, $event)">
                    <ng-container *ngIf="isEven">
                      <mat-option *ngFor="let column of columns" [value]="column">
                        <span>{{column.column}}</span>
                      </mat-option>
                    </ng-container>
                    <ng-container *ngIf="isOdd">
                      <mat-option *ngFor="let column of prodColumns" [value]="column">
                        <span>{{column.column}}</span>
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Condition" aria-label="Condition" [matAutocomplete]="conditionsAutoComplete"
                  formControlName="condition">
                  <mat-autocomplete #conditionsAutoComplete="matAutocomplete" (optionSelected)="setExpConditionChange(i, j)">
                    <mat-option *ngFor="let condition of conditions[i+''+j]" [value]="condition">
                      <span>{{condition}}</span>
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field *ngIf="valueTypeMap[i+''+j] == 'Value'">
                  <input matInput placeholder="{{valuePlaceHolder[i+''+j]}}"
                  (change) = "updateSetInput(i, j, $event)"
                  aria-label="Value" formControlName="value">
                </mat-form-field>
                <app-multi-select *ngIf="valueTypeMap[i+''+j] == 'Field'"
                    [data]="values[i+''+j]"
                    (changeDropdown)="updateSetInput(i, j, $event)"
                    [enableCheckbox]="false">
                </app-multi-select>
                <app-multi-select *ngIf="valueTypeMap[i+''+j] == 'Unique'"
                     [data]="values[i+''+j]"
                    (changeDropdown)="updateSetInput(i, j, $event)"
                    [enableCheckbox]="false">
                </app-multi-select>
                <app-multi-select *ngIf="valueTypeMap[i+''+j] == 'Multiple'"
                    [optionMultiCtrl]="getValueFieldFormControlForSet(i, j)" [data]="values[i+''+j]" [enableCheckbox]="true">
                </app-multi-select>
                <button mat-icon-button [matMenuTriggerFor]="setExpMenu">
                  <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #setExpMenu="matMenu">
                  <mat-radio-group class="valuetype-radio-group">
                    <mat-radio-button class="valuetype-radio-button"
                    mat-menu *ngFor="let value of valueTypes" [value]="value"
                    [checked] = "valueTypeMap[i+''+j] == value"
                    (change)="setExpSettingMenuChange(i, j, value)" [disabled]="setMenuValuesOfSet(i, j, value)">
                      {{value}}
                    </mat-radio-button>
                  </mat-radio-group>
                </mat-menu>
                <button mat-icon-button *ngIf="set.get('exp').controls.length > 2" (click)="deleteExpFromSet(j, i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <br/> -->
                <!-- <mat-checkbox formControlName="caseSensitive">
                  Case Sensitive
                </mat-checkbox> -->
              <!-- -</div>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div mat-dialog-actions align="right" class="dialogActions"> -->
    <!-- [mat-dialog-close]="data.animal" -->
    <!-- -<button mat-button [disabled]="invalidForm" [mat-dialog-close]="advanceFilterForm.value">Apply</button> -->
    <!-- <button mat-button [disabled]="true">Export</button> -->
    <!-- -<button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="reset()">Reset</button>
    <div *ngIf="isLoggedIn" class="export">
      <mat-form-field>
        <mat-label>Choose Format</mat-label>
        <mat-select [(ngModel)]="reportType">
          <mat-option *ngFor="let format of formats" [value]="format.value" >
            {{format.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button title="{{titleMsg}}" mat-button (click)="generateReport()"
    [ngClass]="{'export': !isLoggedIn}"
    [disabled]="invalidForm || !isLoggedIn || !reportType">
    <mat-spinner *ngIf="generatingReport"></mat-spinner>Export</button>
  </div> -->
</div>
