<div class="header">
    <div><h3 mat-dialog-title>Filter</h3></div>
    <div>
        <mat-icon>close</mat-icon>
    </div>
</div>

<div mat-dialog-content class='auto-width'>
    <mat-form-field>
        <mat-label>Select condition</mat-label>
        <mat-select [(value)]="selected">
          <mat-option *ngFor="let conditions of globalLogicalConditions" [value]="conditions.value">
            {{conditions.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <div formArrayName='exp'>
      <div *ngFor='let exp of expForms.controls; let i=index;' [formGroupName]="i">

      </div>
    </div>
    <div formArrayName='set'>
      <div *ngFor='let exp of set Forms.controls; let i=index;' [formGroupName]="i">

      </div>
    </div>
</div>
<div mat-dialog-actions align="right">
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Apply</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>